.product-item-img{
    max-height: 18rem;
}

.product-item-chosen-button{
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.product-item-chosen-button.chosen{
    color: rgba(250, 162, 0, 0.836)
}

